<h1>Hey <%= @user.first_name %>!</h1>
<p>We're sending you this in case you weren't able verify your account in our previous confirmation email. No worries! We got you covered. Like before, click the link below to verify that it really is you.</p>
<div><%= link_to "Verify Account", @url %></div>
<p>We hope to <em>finally</em> have you on board!</p>