<h1>Hey <%= @user.first_name %>!</h1>
<p>We're just making sure that you wish to update your AkoMedico registered email address. Just click the link below to finalize this update. You can also ignore this email if you wish to do otherwise.</p>
<div><%= link_to "Update Email Address", @url %></div>