<h1>Welcome to AkoMedico, <%= @user.first_name %>!</h1>
<p>You're one step closer to getting better at keeping track of your health. All you have to do left is click the link below to verify that it really is you.</p>
<div><%= link_to "Verify Account", @url %></div>
<p>Great to have you on board!</p>